*{
  font-family: Georgia, 'Times New Roman', Times, serif;

}


body {
  margin: auto;
    text-align: center;
}


h1 {
  background-color: gold;
     text-align: center;
    font-weight: bolder;
   font-family: Georgia, 'Times New Roman', Times, serif;
   border-radius: 20xp;
   border-style: groove;
}
p{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

input {
  margin: 12px auto;
    padding: 10px 15px;
    background-color: blanchedalmond;
    font-size: medium;
}

button {
  padding: 7px 7px;
    background-color: gold;
    border-radius: 15px;
    font-style: italic;
    font-weight: bold;

}
button:hover {
  background-color: #333;
}

.list-form {
  margin-bottom: 20px;
}

.container {
  display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	margin: 50px 0;
}

.item {
  background-color: whitesmoke;
  border: solid 1px gold;
	padding: 7px;
	border-radius: 12px;
  border-style: groove;
}

.purchased {
  text-decoration: line-through;
  text-decoration-color:greenyellow;
  

}

.check {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hidden {
  display: none;
}